/*colores a usar:
#0B090A ~ Rich Black FOGRA 39
#161A1D ~ Eerie Black
#660708 ~ Blood Red
#A4161A ~ Ruby Red
#BA181B ~ Carnelian
#E5383B ~ Imperial Red
#B1A7A6 ~ Black Shadows
#D3D3D3 ~ Light Gray
#F5F3F4 ~ Cultured
#FFFFFF ~ White
*/
/* fuente a utilizar 'Source Serif Pro', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}
.body{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(245,243,244,1) 20%, rgba(211,211,211,1) 30%, rgba(177,167,166,1) 40%, rgba(229,56,59,1) 50%, rgba(186,24,27,1) 60%, rgba(164,22,26,1) 70%, rgba(102,7,8,1) 80%, rgba(13,12,13,1) 90%, rgba(11,9,10,1) 100%);
/*lo de arriba le da un color de fondo a toda la web*/
}
/*modificaciones en header*/
/*.img-logo{
    margin: auto;
    width: 350px;
    display: flex;
    justify-content: center;
}*/
.lista-menu{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #B1A7A6;
    background: #252839;
    list-style: none;
    font-size: 15px;
    text-align: center;
    position: relative;
    flex-direction: row;
    gap: 30px;
}
.lista-menu li a{
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    line-height: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255 ,0.5);
    /*color: #B1A7A6;*/
}
.lista-menu li a::before{
    content: attr( data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 2px solid var(--clr);
    -webkit-text-stroke: 2px var(--clr);
}
.lista-menu li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
/*.botonmenu{
    

}*/
.img-logo{
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: center;
}
/*contenido principal con mobile last*/
.main{
    background-color: #B1A7A6;
}
.Clases-Principales{
    display: flex;
    justify-content: center;
    color: #E5383B;
    font-size: 4rem;
    background-color: #D3D3D3;
}
.main__ritmos {
    border: 2px black;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-image: url(../recursos/ritmos.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.ritmos { 
    display: grid;
    grid-template-columns: repeat(3,  33.33%);
    /*grid-template-rows: 1fr;*/
    /*gap: 0px 0px;*/
    /*grid-auto-flow: row;*/
    grid-template-areas:
        "Salsa Bachata Reggaeton";   
}
.img-baile{
    border-radius: 15%;
    width: 30vw;
}
.tit-ritmo{
    font-size: 2.5rem;
    text-align: center;
    color: #335C67;
}
/*.Salsa {
    grid-area: Salsa;
    background-size: cover;
    width: 25vw;
    height: 30vh;

}
.Bachata { 
    grid-area: Bachata;     
    background-size: cover;
    width: 25vw;
    height: 30vh;
}

.Reggaeton { grid-area: Reggaeton; }*/

.footer{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(177,167,166,1) 40%, rgba(211,211,211,1) 60%, rgba(245,243,244,1) 80%, rgba(229,56,59,1) 100%);
    display: flex
}
.footer__Redes li{
    color: #370617; 
    border: 3px solid;
    display: inline-block;
    padding: 3px;
    position: relative;
    list-style: none;
    font-size: 25px;
}
.footer__Redes a{
    color: #9D0208;
    text-decoration:  none;
}
.main__formulario{
padding: 3rem;
}
.main__datos{
    padding: 3rem;
}
.main__datos input{
    background-color:#F5EBE0;
}
.main__datos textarea{
    background-color:#F5EBE0;
}
