.footer{
    background: rgb(255,255,255);
    background: linear-gradient(35deg, rgba(255,255,255,1) 20%, rgba(177,167,166,1) 40%, 
            rgba(211,211,211,1) 60%, rgba(245,243,244,1) 80%, rgba(229,56,59,1) 100%);
    display: flex;
    height: 15vh;
}
.footer__Redes li{
    color: #370617; 
    border: 3px solid;
    display: inline-block;
    padding: 3px;
    position: relative;
    list-style: none;
    font-size: 25px;
}
.footer__Redes a{
    color: #9D0208;
    text-decoration:  none;
}